<div class="sidebar-menu">
  <nav class="nav">
    <div class="nav-item">
      <a href="index.html" class="nav-link">
        <i class="menu-icons mdi mdi-signal-cellular-outline"></i><span class="menu-title">Dashboard</span>
      </a>
    </div>
    <div class="nav-item nav-category">ORDERS</div>
    <div class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#dashboard-dropdown" aria-expanded="false" aria-controls="dashboard-dropdown">
        <i class="menu-icons mdi mdi-locker-multiple"></i>
        <span class="menu-title">Revenue Orders</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="dashboard-dropdown">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="blank-page.html">Revenue Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blank-page.html">Annual Reports</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-item">
      <a href="#" class="nav-link">
        <i class="menu-icons mdi mdi-subtitles-outline"></i><span class="menu-title">Payments</span>
      </a>
    </div>
    <div class="nav-item nav-category">CRM</div>
    <div class="nav-item">
      <a href="blank-page.html" class="nav-link">
        <i class="menu-icons mdi mdi-account-circle-outline"></i><span class="menu-title">Users</span>
      </a>
    </div>
    <div class="nav-item">
      <a href="blank-page.html" class="nav-link">
        <i class="menu-icons mdi mdi-briefcase-account-outline"></i><span class="menu-title">Customer profiles</span>
      </a>
    </div>
    <div class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#resources-dropdown" aria-expanded="false" aria-controls="dashboard-dropdown">
        <i class="menu-icons mdi mdi-content-duplicate"></i>
        <span class="menu-title">Resources</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="resources-dropdown">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="blank-page.html">Revenue Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blank-page.html">Annual Reports</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-item">
      <a href="#" class="nav-link">
        <i class="menu-icons mdi mdi-clipboard-text-outline"></i><span class="menu-title">Management</span>
      </a>
    </div>
    <div class="nav-item nav-category">Development</div>
    <div class="nav-item">
      <a href="blank-page.html" class="nav-link">
        <i class="menu-icons mdi mdi-cloud-download-outline"></i>
        <span class="menu-title">Configuration</span>
        <div class="badge badge-pill badge-danger">1</div>
      </a>
    </div>
    <div class="nav-item">
      <a href="blank-page.html" class="nav-link">
        <i class="menu-icons mdi mdi-shield-key-outline"></i><span class="menu-title">Back-end status</span>
      </a>
    </div>
    <div class="nav-item">
      <a href="blank-page.html" class="nav-link">
        <i class="menu-icons mdi mdi-codepen"></i><span class="menu-title">integration</span>
      </a>
    </div>
    <div class="nav-item">
      <a href="blank-page.html" class="nav-link">
        <i class="menu-icons mdi mdi-tooltip-text-outline"></i><span class="menu-title">Overview</span>
      </a>
    </div>
    <div class="nav-item">
      <a href="blank-page.html" class="nav-link">
        <i class="menu-icons mdi mdi-briefcase-edit-outline"></i><span class="menu-title">Finance</span>
      </a>
    </div>
    <div class="nav-item">
      <a href="blank-page.html" class="nav-link">
        <i class="menu-icons mdi mdi-settings-outline"></i><span class="menu-title">Settings</span>
      </a>
    </div>
  </nav>
  <div class="account-bar">
    <div class="bar-actions">
      <a href="blank-page.html" class="action-link"><i class="mdi mdi-flask-outline"></i></a>
      <div class="profile-wrapper">
        <img class="img-sm rounded-circle" src="assets/images/faces/face1.jpg" alt="profile images">
        <div class="dot-indicator bg-success"></div>
      </div>
      <a href="blank-page.html" class="action-link"><i class="mdi mdi-bell-outline"></i></a>
    </div>
    <button class="btn btn-block btn-primary">Customize</button>
  </div>
  <div class="sidebar-footer">
    <p class="mb-0">© CRM Dashboard Ltd. 2019</p>
    <small class="text-muted d-block mt-2">Copyright © 2019 Bootstrapdash. All rights reserved.</small>
  </div>
</div>