<nav class="sidebar sidebar-offcanvas dynamic-active-class-disabled" id="sidebar">
  <ul class="nav">
    <li class="nav-item profile-section">
      <div class="profile-info d-flex align-items-center">
        <div class="notification-indicator-wrapper">
          <img class="profile-img img-sm img-curved" src="assets/images/faces/face1.jpg" alt="profile image">
          <div class="notification-indicator bg-success"></div>
        </div>
        <div class="profile-info-user wrapper d-flex flex-column">
          <p class="profile-name">Ricardo Taylor</p>
          <small class="profile-type">Premium Member</small>
        </div>
      </div>
      <div class="progress-details">
        <div class="col-section">
          <p class="font-weight-bold mb-0">456</p>
          <small>Sales</small>
        </div>
        <div class="col-section">
          <p class="font-weight-bold mb-0">$5900</p>
          <small>Revenue</small>
        </div>
        <div class="col-section">
          <p class="font-weight-bold mb-0">1350</p>
          <small>Order</small>
        </div>
      </div>
    </li>
    <li class="nav-item active">
      <a href="#" class="nav-link">
        <i class="menu-icon icon-monitor"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#products-dropdown" aria-expanded="false" aria-controls="products-dropdown">
        <i class="menu-icon icon-stack"></i>
        <span class="menu-title">Products</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="products-dropdown">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="blank-page.html">Revenue</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blank-page.html">Bills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blank-page.html">IPO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blank-page.html">Tax Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blank-page.html">Invoice</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#finance-dropdown" aria-expanded="false" aria-controls="products-dropdown">
        <i class="menu-icon icon-archive"></i>
        <span class="menu-title">Finance</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="finance-dropdown">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="blank-page.html">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blank-page.html">Payments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blank-page.html">Statistics</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a href="blank-page.html" class="nav-link">
        <i class="menu-icon icon-briefcase"></i>
        <span class="menu-title">Investment</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="blank-page.html" class="nav-link">
        <i class="menu-icon icon-head"></i>
        <span class="menu-title">Members</span>
      </a>
    </li>
    <li class="nav-item nav-category">Settings</li>
    <li class="nav-item">
      <a href="blank-page.html" class="nav-link">
        <i class="menu-icon icon-content-right"></i>
        <span class="menu-title">Secuirty</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="blank-page.html" class="nav-link">
        <i class="menu-icon icon-lock"></i>
        <span class="menu-title">Privacy</span>
      </a>
    </li>
  </ul>
</nav>