<nav class="navbar col-lg-12 col-12 p-0 d-flex flex-row">
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <div class="action-toolbar d-flex align-items-center">
      <button type="button" class="btn btn-icons btn-primary"><i class="mdi mdi-target"></i></button>
      <p class="mb-0 ml-3 font-weight-medium">Add Product</p>
    </div>
    <form action="#" class="form form-search d-none d-md-flex">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="form-search"><i class="mdi mdi-magnify"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Search..." aria-describedby="form-search" autocomplete="off">
      </div>
      <button type="button" class="btn btn-primary">Search</button>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <div class="count-indicator">
            <i class="mdi mdi-bell-outline"></i>
            <span class="count count-sm bg-danger">3</span>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
          <a class="dropdown-item py-3">
            <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
            <span class="badge badge-pill badge-primary float-right">View all</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item py-0">
            <div class="preview-thumbnail">
              <img src="assets/images/faces/face10.jpg" alt="image" class="img-sm profile-pic"> </div>
            <div class="preview-item-content flex-grow py-2">
              <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
              <p class="font-weight-light small-text"> The meeting is cancelled </p>
            </div>
          </a>
          <a class="dropdown-item preview-item py-0">
            <div class="preview-thumbnail">
              <img src="assets/images/faces/face12.jpg" alt="image" class="img-sm profile-pic"> </div>
            <div class="preview-item-content flex-grow py-2">
              <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
              <p class="font-weight-light small-text"> The meeting is cancelled </p>
            </div>
          </a>
          <a class="dropdown-item preview-item py-0">
            <div class="preview-thumbnail">
              <img src="assets/images/faces/face1.jpg" alt="image" class="img-sm profile-pic"> </div>
            <div class="preview-item-content flex-grow py-2">
              <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
              <p class="font-weight-light small-text"> The meeting is cancelled </p>
            </div>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown d-none d-sm-inline-flex language-dropdown">
        <a class="nav-link dropdown-toggle px-2 d-flex align-items-center" id="LanguageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <div class="d-inline-flex mr-3">
            <i class="flag-icon flag-icon-us"></i>
          </div>
          <span class="profile-text font-weight-medium">ENG</span>
        </a>
        <div class="dropdown-menu dropdown-menu-left navbar-dropdown pb-0" aria-labelledby="LanguageDropdown">
          <a class="dropdown-item">ENGLISH<i class="flag-icon ml-auto flag-icon-us"></i></a>
          <a class="dropdown-item">FRENCH<i class="flag-icon ml-auto flag-icon-fr"></i></a>
          <a class="dropdown-item">ARABIC<i class="flag-icon ml-auto flag-icon-ae"></i></a>
          <a class="dropdown-item">RUSSIAN<i class="flag-icon ml-auto flag-icon-ru"></i></a>
        </div>
      </li>
      <li class="nav-item dropdown d-none d-xl-inline-flex">
        <a class="nav-link dropdown-toggle d-flex align-items-center" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <div class="d-inline-flex mr-3">
            <img class="img-sm rounded-circle" src="assets/images/faces/face1.jpg" alt="Profile image">
          </div>
          <span class="profile-text font-weight-medium">Richard V.Welsh !</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
          <div class="dropdown-header text-center">
            <img class="img-md rounded-circle" src="assets/images/faces/face1.jpg" alt="Profile image">
            <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>
            <p class="font-weight-light text-muted mb-0">allenmoreno@gmail.com</p>
          </div>
          <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
          <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary"></i> Messages</a>
          <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary"></i> Activity</a>
          <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary"></i> FAQ</a>
          <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary"></i>Sign Out</a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="icon-menu"></span>
    </button>
  </div>
</nav>