<nav class="sidebar sidebar-offcanvas dynamic-active-class-disabled" id="sidebar">
  <ul class="nav">
    <li class="nav-item plan-item">
      <a href="index.html" class="logo">
        <img src="assets/images/logo_8.svg" alt="logo">
      </a>
      <h5 class="mb-0 text-white font-weight-semibold">Parker Whitson</h5>
      <p class="plan-email font-weight-medium">parker@gmail.com</p>
      <button class="btn btn-block btn-success">Upgrade</button>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="menu-icon mdi mdi-checkerboard"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank_page.html">
        <i class="menu-icon mdi mdi-google-analytics"></i>
        <span class="menu-title">Transactions</span>
        <div class="badge badge-pill badge-info">45</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank_page.html">
        <i class="menu-icon mdi mdi-account-switch"></i>
        <span class="menu-title">Sales</span>
        <div class="badge badge-pill badge-success">45</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank_page.html">
        <i class="menu-icon mdi mdi-folder-outline"></i>
        <span class="menu-title">Products</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank_page.html">
        <i class="menu-icon mdi mdi-format-list-bulleted"></i>
        <span class="menu-title">Members</span>
      </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="blank_page.html">
        <i class="menu-icon mdi mdi-cart-plus"></i>
        <span class="menu-title">Investment</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank_page.html">
        <i class="menu-icon mdi mdi-calculator"></i>
        <span class="menu-title">Analysis</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank_page.html">
        <i class="menu-icon mdi mdi-account-multiple-outline"></i>
        <span class="menu-title">Reporting</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank_page.html">
        <i class="menu-icon mdi mdi-cube-outline"></i>
        <span class="menu-title">Back Accounts</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank_page.html">
        <i class="menu-icon mdi mdi-school"></i>
        <span class="menu-title">Admin/HR</span>
      </a>
    </li>
  </ul>
  <div class="profile-card">
    <div class="card">
      <img class="profile-img img-lg rounded-circle" src="assets/images/faces/face1.jpg" alt="profile image">
      <div class="d-flex align-items-center justify-content-center mt-3">
        <h6 class="mb-0 font-weight-semibold">Parker Whitson</h6>
        <span class="dot-indicator bg-success"></spa>
      </div>
      <p class="text-muted mb-1">parker@gmail.com</p>
      <h6 class="text-success font-weight-semibold">Your Plan : Standard</h6>
    </div>
  </div>
</nav>