<nav class="sidebar sidebar-offcanvas dynamic-active-class-disabled" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile not-navigation-link">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face8.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Richard V.Welsh</p>
            <ul class="nav navbar-nav">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link d-flex user-switch-dropdown-toggler" id="UsersettingsDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                  <small class="designation text-muted">Manager</small>
                  <span class="status-indicator online"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-left navbar-dropdown" aria-labelledby="UsersettingsDropdown">
                  <a class="dropdown-item p-0">
                    <div class="d-flex border-bottom">
                      <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                        <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                      </div>
                      <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                        <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                      </div>
                      <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                        <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                      </div>
                    </div>
                  </a>
                  <a class="dropdown-item mt-2"> Manage Accounts </a>
                  <a class="dropdown-item"> Change Password </a>
                  <a class="dropdown-item"> Check Inbox </a>
                  <a class="dropdown-item"> Sign Out </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <button class="btn btn-success btn-block">New Project <i class="mdi mdi-plus"></i>
        </button>
      </div>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#resources-dropdown" aria-expanded="false" aria-controls="resources-dropdown">
        <i class="menu-icon mdi mdi-dna"></i>
        <span class="menu-title">Resouces</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="resources-dropdown">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="blank-page.html">Finance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blank-page.html">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blank-page.html">Delivery</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank-page.html">
        <i class="menu-icon mdi mdi-texture"></i>
        <span class="menu-title">Products</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank-page.html">
        <i class="menu-icon mdi mdi-content-copy"></i>
        <span class="menu-title">Finance</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank-page.html">
        <i class="menu-icon mdi mdi-lightbulb-outline"></i>
        <span class="menu-title">Accounting</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank-page.html">
        <i class="menu-icon mdi mdi-backup-restore"></i>
        <span class="menu-title">Sales</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank-page.html">
        <i class="menu-icon mdi mdi-code-brackets"></i>
        <span class="menu-title">Security</span>
      </a>
    </li>
  </ul>
</nav>