<div class="right-sidebar-toggler-wrapper">
  <div class="sidebar-toggler" id="layout-toggler"><i class="mdi mdi-settings"></i></div>
  <div class="sidebar-toggler" id="chat-toggler"><i class="mdi mdi-chat-processing"></i></div>
  <div class="sidebar-toggler"><a href="https://www.bootstrapdash.com/demo/star-admin-pro/src/docs/documentation.html" target="_blank"><i class="mdi mdi-file-document-outline"></i></a></div>
  <div class="sidebar-toggler"><a href="https://www.bootstrapdash.com/product/star-admin-pro" target="_blank"><i class="mdi mdi-cart"></i></a></div>
</div>
<div class="theme-setting-wrapper">
  <div id="theme-settings" class="settings-panel">
    <i class="settings-close mdi mdi-close"></i>
    <div class="d-flex align-items-center justify-content-between border-bottom">
      <p class="settings-heading font-weight-bold border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Template Demos </p>
    </div>
    <div class="demo-screen-wrapper">
      <a href="demo_1/index.html" class="demo-thumb-image" id="theme-light-switch">
        <img src="assets/images/screenshots/default.jpg" alt="demo image">
      </a>
      <a href="demo_2/index.html" class="demo-thumb-image">
        <img src="assets/images/screenshots/default-two.jpg" alt="demo image">
      </a>
      <a href="demo_3/index.html" class="demo-thumb-image" id="theme-dark-switch">
        <img src="assets/images/screenshots/default-dark.jpg" alt="demo image">
      </a>
      <a href="demo_4/index.html" class="demo-thumb-image">
        <img src="assets/images/screenshots/analytics-dasboard.jpg" alt="demo image">
      </a>
      <a href="demo_5/index.html" class="demo-thumb-image">
        <img src="assets/images/screenshots/Marketing-dashboard.jpg" alt="demo image">
      </a>
      <a href="demo_6/index.html" class="demo-thumb-image">
        <img src="assets/images/screenshots/crm-dashboard.jpg" alt="demo image">
      </a>
      <a href="demo_7/index.html" class="demo-thumb-image">
        <img src="assets/images/screenshots/modern-dashboard.jpg" alt="demo image">
      </a>
      <a href="demo_8/index.html" class="demo-thumb-image">
        <img src="assets/images/screenshots/e-commerce_dashboard.jpg" alt="demo image">
      </a>
      <a href="demo_9/index.html" class="demo-thumb-image">
        <img src="assets/images/screenshots/finance-dashboard.jpg" alt="demo image">
      </a>
      <a href="demo_10/index.html" class="demo-thumb-image">
        <img src="assets/images/screenshots/classic-dashboard.jpg" alt="demo image">
      </a>
      <a href="demo_11/index.html" class="demo-thumb-image">
        <img src="assets/images/screenshots/horizontal-screens.jpg" alt="demo image">
      </a>
    </div>
  </div>
</div>
<div id="right-sidebar" class="settings-panel">
  <i class="settings-close mdi mdi-close"></i>
  <div class="d-flex align-items-center justify-content-between border-bottom">
    <p class="settings-heading font-weight-bold border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
  </div>
  <ul class="chat-list">
    <li class="list active">
      <div class="profile">
        <img src="assets/images/faces/face1.jpg" alt="image">
        <span class="online"></span>
      </div>
      <div class="info">
        <p>Thomas Douglas</p>
        <p>Available</p>
      </div>
      <small class="text-muted my-auto">19 min</small>
    </li>
    <li class="list">
      <div class="profile">
        <img src="assets/images/faces/face2.jpg" alt="image">
        <span class="offline"></span>
      </div>
      <div class="info">
        <div class="wrapper d-flex">
          <p>Catherine</p>
        </div>
        <p>Away</p>
      </div>
      <div class="badge badge-success badge-pill my-auto mx-2">4</div>
      <small class="text-muted my-auto">23 min</small>
    </li>
    <li class="list">
      <div class="profile">
        <img src="assets/images/faces/face3.jpg" alt="image">
        <span class="online"></span>
      </div>
      <div class="info">
        <p>Daniel Russell</p>
        <p>Available</p>
      </div>
      <small class="text-muted my-auto">14 min</small>
    </li>
    <li class="list">
      <div class="profile">
        <img src="assets/images/faces/face4.jpg" alt="image">
        <span class="offline"></span>
      </div>
      <div class="info">
        <p>James Richardson</p>
        <p>Away</p>
      </div>
      <small class="text-muted my-auto">2 min</small>
    </li>
    <li class="list">
      <div class="profile">
        <img src="assets/images/faces/face5.jpg" alt="image">
        <span class="online"></span>
      </div>
      <div class="info">
        <p>Madeline Kennedy</p>
        <p>Available</p>
      </div>
      <small class="text-muted my-auto">5 min</small>
    </li>
    <li class="list">
      <div class="profile">
        <img src="assets/images/faces/face6.jpg" alt="image">
        <span class="online"></span>
      </div>
      <div class="info">
        <p>Sarah Graves</p>
        <p>Available</p>
      </div>
      <small class="text-muted my-auto">47 min</small>
    </li>
  </ul>
</div>