<div class="navbar fixed-top">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top">
    <a class="navbar-brand brand-logo" href="index.html">
      <img src="../assets/images/logo_5.svg" alt="logo" />
    </a>
    <a class="navbar-brand brand-logo-mini brand-logo" href="index.html">
      <img src="../assets/images/logo-mini_5.svg" alt="logo" />
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <form class="form-search d-none d-md-block ml-4" action="#">
      <div class="form-group">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Search" autocomplete="off">
          <div class="input-group-append">
            <span class="input-group-text bg-transparent">
              <i class="ti-search"></i>
            </span>
          </div>
        </div>
      </div>
    </form>
    <ul class="nav navbar-nav-right ml-auto">
      <li class="nav-item dropdown count-indicator">
        <a class="nav-link count-indicator dropdown-toggle" id="calendarDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <i class="ti-calendar"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-left navbar-dropdown dropdown-h-style-2" aria-labelledby="calendarDropdown">
          <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-printer"></i>Print Invoice</a>
          <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-content-copy"></i>Copy</a>
          <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-file-document-edit-outline"></i>CSV</a>
          <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-share-outline"></i>Share</a>
        </div>
      </li>
      <li class="nav-item dropdown count-indicator">
        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <i class="ti-settings"></i>
          <div class="count bg-success"></div>
        </a>
        <div class="dropdown-menu dropdown-menu-left navbar-dropdown dropdown-h-style-1" aria-labelledby="messageDropdown">
          <a class="dropdown-item">Task Management<i class="dropdown-item-icon ti-archive"></i></a>
          <a class="dropdown-item">Payments<i class="dropdown-item-icon ti-credit-card"></i></a>
          <a class="dropdown-item">Recurring Payments<i class="dropdown-item-icon ti-exchange-vertical"></i></a>
          <a class="dropdown-item">Reports<i class="dropdown-item-icon ti-bar-chart-alt"></i></a>
        </div>
      </li>
      <li class="nav-item dropdown count-indicator mr-0 mr-lg-2">
        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
          <i class="ti-bell"></i>
          <div class="count bg-danger"></div>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
          <a class="dropdown-item">Customers <span class="status-indicator bg-primary"></span></a>
          <a class="dropdown-item">Reports</a>
          <a class="dropdown-item">Orders</a>
          <a class="dropdown-item">Administration</a>
        </div>
      </li>
      <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown dropdown-h-style-2">
        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <img class="img-xs rounded-circle" src="../assets/images/faces/face1.jpg" alt="Profile image">
          <span class="profile-text">Allen Moreno</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
          <div class="dropdown-header text-center">
            <img class="img-md rounded-circle" src="../assets/images/faces/face1.jpg" alt="Profile image">
            <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>
            <p class="font-weight-light text-muted mb-0">allenmoreno@gmail.com</p>
          </div>
          <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
          <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary"></i> Messages</a>
          <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary"></i> Activity</a>
          <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary"></i> FAQ</a>
          <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary"></i>Sign Out</a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-md-none align-self-center" type="button">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</div>
<div id="navigation-tab-panel" class="nav-tabs-wrapper">
  <ul class="nav nav-tabs screen-navigation-tab" id="dashboard-nav-tabs" role="tablist">
    <li class="nav-item active">
      <a class="nav-link">Dashboard</a>
      <div class="submenu">
        <ul class="nav nav-submenu">
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-archive"></i>Annual Reports</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-user"></i>HR Reports</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-bar-chart"></i>Finance margins</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-receipt"></i>Revenue Reports</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-agenda"></i>IPO Reports</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-help-alt"></i>Help</a>
          </li>
          <li class="nav-item export-link">
            <a href="blank-page.html" class="nav-link">Export</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link">Projects</a>
      <div class="submenu">
        <ul class="nav nav-submenu">
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-archive"></i>Pending</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-user"></i>Delivered</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-bar-chart"></i>Canceled</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-receipt"></i>Customer Care</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-agenda"></i>Payment</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-help-alt"></i>Help</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link">Documents</a>
      <div class="submenu">
        <ul class="nav nav-submenu">
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-archive"></i>PDF Docs</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-user"></i>Bills</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-bar-chart"></i>Tax Management</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-receipt"></i>Print CSV</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-agenda"></i>Share</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-help-alt"></i>Help</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link">Payments</a>
      <div class="submenu">
        <ul class="nav nav-submenu">
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-archive"></i>Expenses</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-user"></i>Recurring</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-bar-chart"></i>Estimates</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-receipt"></i>Credit Card</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-agenda"></i>Sales</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-help-alt"></i>Help</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link">Invoice</a>
      <div class="submenu">
        <ul class="nav nav-submenu">
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-archive"></i>Sales Invoice</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-user"></i>Receipt</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-bar-chart"></i>Due Invoice</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-receipt"></i>Retainer Invoice</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-agenda"></i>Bill of supply</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link">Reports</a>
      <div class="submenu">
        <ul class="nav nav-submenu">
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-announcement"></i>Order Reports</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-anchor"></i>Invoice Reports</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-bar-chart"></i>Customer reports</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-receipt"></i>Finance margins</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-briefcase"></i>Annual reports</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link">Settings</a>
      <div class="submenu">
        <ul class="nav nav-submenu">
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-direction-alt"></i>Setting</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-id-badge"></i>Administration</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-flag-alt"></i>Finance</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-folder"></i>Management</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-harddrives"></i>Data Backup</a>
          </li>
          <li class="nav-item">
            <a href="blank-page.html" class="nav-link"><i class="submenu-icons ti-briefcase"></i>Profile</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>