<nav class="sidebar sidebar-offcanvas dynamic-active-class-disabled" id="sidebar">
  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" data-toggle="collapse" href="#dashboard-dropdown" aria-expanded="false" aria-controls="dashboard-dropdown">
        <i class="menu-icon mdi mdi-speedometer"></i>
        <span class="menu-title">Dashboard</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="dashboard-dropdown">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">Marketing</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#message-layouts" aria-expanded="false" aria-controls="message-layouts">
        <i class="menu-icon mdi mdi-email-outline"></i>
        <span class="menu-title">Messages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="message-layouts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="blank_page.html">New Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blank_page.html">Inbox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blank_page.html">Outbox</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#apps-dropdown" aria-expanded="false" aria-controls="apps-dropdown">
        <i class="menu-icon mdi mdi-file-outline"></i>
        <span class="menu-title">Invoices</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="apps-dropdown">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="blank_page.html">Create Invoice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blank_page.html">View All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blank_page.html">Manage Invoice</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank_page.html">
        <i class="menu-icon mdi mdi-folder-outline"></i>
        <span class="menu-title">Projects</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank_page.html">
        <i class="menu-icon mdi mdi-format-list-bulleted"></i>
        <span class="menu-title">Shedules</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank_page.html">
        <i class="menu-icon mdi mdi-cart-plus"></i>
        <span class="menu-title">CRM</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank_page.html">
        <i class="menu-icon mdi mdi-calculator"></i>
        <span class="menu-title">POS</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank_page.html">
        <i class="menu-icon mdi mdi-account-multiple-outline"></i>
        <span class="menu-title">Team</span>
        <div class="badge badge-inverse-success">New</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blank_page.html">
        <i class="menu-icon mdi mdi-cube-outline"></i>
        <span class="menu-title">Settings</span>
        <div class="badge badge-inverse-warning">Pro</div>
      </a>
    </li>
  </ul>
  <ul class="nav nav-toolbar">
    <li class="nav-category">CUSTOMERS</li>
    <li class="list-group">
      <img class="profile-img img-sm rounded-circle" src="assets/images/faces/face1.jpg" alt="image">
      <div class="wrapper">
        <p>Bojan Joncic</p>
        <small class="text-muted">Designer</small>
      </div>
      <div class="badge badge-inverse-primary ml-auto">5.6k</div>
    </li>
    <li class="list-group">
      <div class="profile-img img-sm rounded-circle d-flex align-items-center justify-content-center bg-warning text-white font-weight-semibold">BJ</div>
      <div class="wrapper">
        <p>Lettie Vega</p>
        <small class="text-muted">Sales lead</small>
      </div>
      <div class="badge badge-inverse-danger ml-auto">4.5k</div>
    </li>
    <li class="list-group flex-column">
      <div class="d-flex justify-content-between w-100 pb-3 pt-3">
        <p>Progress</p>
        <p class="text-primary font-weight-medium">45%</p>
      </div>
      <div class="progress progress-md w-100">
        <div class="progress-bar bg-primary" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </li>
    <li class="list-group action-group">
      <ul class="nav">
        <li class="nav-item"><a href="#"><i class="mdi mdi-web"></i></a></li>
        <li class="nav-item"><a href="#">
            <div class="count-indicator"><i class="mdi mdi-email-outline"></i><span class="count count-sm badge-inverse-danger"></span></div>
          </a></li>
        <li class="nav-item"><a href="#">
            <div class="count-indicator"><i class="mdi mdi-bell-outline"></i><span class="count count-sm badge-inverse-danger"></span></div>
          </a></li>
        <li class="nav-item">
          <a href="#">
            <div class="count-indicator">
              <img class="img-xs rounded-circle" src="assets/images/faces/face3.jpg" alt="profile image">
              <span class="count count-sm bg-inverse-success"></span>
            </div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>