<div class="navbar fixed-top">
  <div class="navbar-menu-wrapper d-flex align-items-center w-100">
    <ul class="nav">
      <div class="nav-item ml-0">
        <li class="nav-item dropdown d-none d-md-inline-block ml-0">
          <a class="nav-link dropdown-toggle pl-0" id="dashboardDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <span class="profile-text">Dashboard</span>
          </a>
          <div class="dropdown-menu dropdown-menu-left navbar-dropdown" aria-labelledby="dashboardDropdown">
            <a class="dropdown-item mt-3">Annual Reports</a>
            <a class="dropdown-item">Revenue Reports <span class="badge badge-danger ml-auto badge-pill">3</span></a>
            <a class="dropdown-item">IPO Reports <i class="dropdown-arrow mdi mdi-chevron-right"></i></a>
            <a class="dropdown-item">Finance Reports<i class="dropdown-arrow mdi mdi-chevron-right"></i></a>
            <a class="dropdown-item">HR Reports</a>
          </div>
        </li>
      </div>
      <div class="nav-item ml-0">
        <li class="nav-item dropdown d-none d-md-inline-block ml-0">
          <a class="nav-link dropdown-toggle" id="ordersDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <span class="profile-text">Orders</span>
          </a>
          <div class="dropdown-menu dropdown-menu-left navbar-dropdown" aria-labelledby="ordersDropdown">
            <a class="dropdown-item mt-3">View Orders <span class="badge badge-primary ml-auto badge-pill">13</span></a>
            <a class="dropdown-item">Create Order<i class="dropdown-arrow mdi mdi-chevron-right"></i></a>
            <a class="dropdown-item">Cancel Order<i class="dropdown-arrow mdi mdi-chevron-right"></i></a>
          </div>
        </li>
      </div>
      <div class="nav-item ml-0">
        <li class="nav-item dropdown d-none d-md-inline-block ml-0">
          <a class="nav-link dropdown-toggle" id="ordersDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <span class="profile-text">Reports</span>
          </a>
          <div class="dropdown-menu dropdown-menu-left navbar-dropdown" aria-labelledby="ReportsDropdown">
            <a class="dropdown-item mt-3">View Reports</a>
            <a class="dropdown-item">Cancel Reports<i class="dropdown-arrow mdi mdi-chevron-right"></i></a>
            <a class="dropdown-item">Manage Reports<span class="badge badge-success ml-auto badge-pill">6</span></a>
          </div>
        </li>
      </div>
    </ul>
    <ul class="nav navbar-nav-right ml-auto">
      <li class="nav-item dropdown circle-grid">
        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <i class="mdi mdi-bell-outline"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
          <a class="dropdown-item dropdown-header">
            <div class="wrapper">
              <h4 class="mb-1 font-weight-medium">Notification</h4>
              <p class="mb-0 font-weight-medium float-left font-weight-light">You have 7 unread mails </p>
            </div>
            <span class="badge badge-pill badge-primary float-right">View all</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <img src="../assets/images/faces/face10.jpg" alt="image" class="img-sm profile-pic"> </div>
            <div class="preview-item-content flex-grow py-2">
              <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
              <p class="font-weight-light small-text"> The meeting is cancelled </p>
            </div>
          </a>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <img src="../assets/images/faces/face12.jpg" alt="image" class="img-sm profile-pic"> </div>
            <div class="preview-item-content flex-grow py-2">
              <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
              <p class="font-weight-light small-text"> The meeting is cancelled </p>
            </div>
          </a>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <img src="../assets/images/faces/face1.jpg" alt="image" class="img-sm profile-pic"> </div>
            <div class="preview-item-content flex-grow py-2">
              <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
              <p class="font-weight-light small-text"> The meeting is cancelled </p>
            </div>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown circle-grid">
        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
          <i class="mdi mdi-tune"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
          <a class="dropdown-item dropdown-header">
            <div class="wrapper">
              <h4 class="mb-1 font-weight-medium">Activity Controller</h4>
              <p class="mb-0 font-weight-medium float-left font-weight-light">You have 4 new notifications</p>
            </div>
            <span class="badge badge-pill badge-primary float-right">View all</span>
          </a>
          <a class="dropdown-item preview-item py-3">
            <div class="preview-thumbnail">
              <i class="mdi mdi-alert m-auto text-primary"></i>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
              <p class="font-weight-light small-text mb-0"> Just now </p>
            </div>
          </a>
          <a class="dropdown-item preview-item py-3">
            <div class="preview-thumbnail">
              <i class="mdi mdi-settings m-auto text-primary"></i>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
              <p class="font-weight-light small-text mb-0"> Private message </p>
            </div>
          </a>
          <a class="dropdown-item preview-item py-3">
            <div class="preview-thumbnail">
              <i class="mdi mdi-airballoon m-auto text-primary"></i>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>
              <p class="font-weight-light small-text mb-0"> 2 days ago </p>
            </div>
          </a>
        </div>
      </li>
      <li class="nav-item circle-grid indicator-language">
        <a class="nav-link">
          <i class="flag-icon flag-icon-us"></i>
        </a>
      </li>
      <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <img class="img-xs rounded-circle" src="../assets/images/faces/face1.jpg" alt="Profile image">
          <span class="profile-text">Allen Moreno</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
          <a class="dropdown-item mt-2 active"> Manage Accounts </a>
          <a class="dropdown-item"> Change Password </a>
          <a class="dropdown-item"> Check Inbox </a>
          <a class="dropdown-item"> Sign Out </a>
          <div class="wrapper px-4 pt-2">
            <button type="button" class="btn btn-rounded btn-sm btn-outline-primary mr-2">Logout</button>
            <button type="button" class="btn btn-rounded btn-sm btn-outline-secondary">Cancel</button>
          </div>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center pr-0" type="button" data-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</div>