<div class="sidebar sidebar-offcanvas" id="sidebar-icon-only">
  <div class="sidebar-inner ps-enabled">
    <nav class="nav">
      <div class="nav-item brand-logo">
        <a class="nav-link" href="index.html"><img src="../assets/images/logo-mini-4.svg" alt="logo"></a>
      </div>
      <div class="nav-item active">
        <a href="#" class="nav-link">
          <i class="menu-icon mdi mdi-poll-box"></i>
          <span class="menu-title">Resources</span>
        </a>
        <div class="submenu">
          <div class="submenu-inner ps-enabled">
            <div class="profile-tab text-white">
              <img class="img-sm rounded mb-3" src="../assets/images/faces/face1.jpg" alt="profile image">
              <p class="mb-0 text-white">Allen Moreno</p>
              <h3>$387,098</h3>
            </div>
            <ul class="nav">
              <div class="nav-item nav-category">Applications</div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link">
                  <div class="icon-holder"><i class="mdi mdi-chart-bar"></i></div>Analysis
                </a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link">
                  <div class="icon-holder"><i class="mdi mdi-message-text-outline"></i></div>Problem
                </a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link">
                  <div class="icon-holder"><i class="mdi mdi-magnify"></i></div>Search
                </a>
              </div>
              <div class="nav-item nav-category">Modules</div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link">Finance <div class="badge badge-pill ml-auto badge-danger">3 </div></a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link">Order <div class="badge badge-pill ml-auto badge-primary">7 </div></a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link">Delivery</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link">Resource</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link">Support</a>
              </div>
              <div class="nav-item nav-category">Social Networks</div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link">
                  <div class="icon-holder"><i class="mdi mdi-facebook"></i></div>Facebook
                </a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link">
                  <div class="icon-holder"><i class="mdi mdi-twitter"></i></div>Twitter
                </a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link">
                  <div class="icon-holder"><i class="mdi mdi-linkedin"></i></div>Linkedin
                </a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link">
                  <div class="icon-holder"><i class="mdi mdi-google-plus"></i></div>Google Plus
                </a>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-link">
          <i class="menu-icon mdi mdi-airplay"></i>
          <span class="menu-title">Products</span>
        </a>
        <div class="submenu">
          <div class="submenu-inner ps-enabled">
            <h5 class="submenu-category-heading">Products</h5>
            <div class="submenu-toolbar">
              <ul>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-arrow-down-bold-box"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-tag"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-printer"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-delete"></i></a></li>
              </ul>
            </div>
            <ul class="nav">
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-cash-usd"></i>Revenue<div class="badge badge-pill ml-auto badge-danger">16</div></a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-content-copy"></i>Bills</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-chart-line"></i>IPO</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-monitor"></i>Tax Details</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-file-outline"></i>Invoices</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-help-circle-outline"></i>Help</a>
              </div>
            </ul>
            <ul class="nav settings-nav">
              <div class="nav-item nav-category">Settings</div>
              <div class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </div>
              <div class="nav-item">
                <a class="nav-link" href="#">Accounts</a>
              </div>
              <div class="nav-item">
                <a class="nav-link" href="#">Notifications</a>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-link">
          <i class="menu-icon mdi mdi-wallet-travel"></i>
          <span class="menu-title">Finance</span>
        </a>
        <div class="submenu">
          <div class="submenu-inner ps-enabled">
            <h5 class="submenu-category-heading">Finance</h5>
            <div class="submenu-toolbar">
              <ul>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-arrow-down-bold-box"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-tag"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-printer"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-delete"></i></a></li>
              </ul>
            </div>
            <ul class="nav">
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-cash-usd"></i>Orders<div class="badge badge-pill ml-auto badge-danger">2</div></a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-format-page-break"></i>Reports</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-block-helper"></i>Cancelled</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-shield-outline"></i>Payments<div class="badge badge-pill ml-auto badge-success">8</div></a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-chart-bar-stacked"></i>Statistics</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-help-circle-outline"></i>Help</a>
              </div>
            </ul>
            <ul class="nav settings-nav">
              <div class="nav-item nav-category">Settings</div>
              <div class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </div>
              <div class="nav-item">
                <a class="nav-link" href="#">Accounts</a>
              </div>
              <div class="nav-item">
                <a class="nav-link" href="#">Notifications</a>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-link">
          <i class="menu-icon mdi mdi-tab"></i>
          <span class="menu-title">Accounting</span>
        </a>
        <div class="submenu">
          <div class="submenu-inner ps-enabled">
            <h5 class="submenu-category-heading">Accounting</h5>
            <div class="submenu-toolbar">
              <ul>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-arrow-down-bold-box"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-tag"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-printer"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-delete"></i></a></li>
              </ul>
            </div>
            <ul class="nav">
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-refresh"></i>Recurring<div class="badge badge-pill ml-auto badge-danger">5</div></a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-format-page-break"></i>Expenses<div class="badge badge-pill ml-auto badge-success">4</div></a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-clock-outline"></i>Enstimates</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-credit-card"></i>Credit Notes</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-login-variant"></i>Sales</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-help-circle-outline"></i>Help</a>
              </div>
            </ul>
            <ul class="nav settings-nav">
              <div class="nav-item nav-category">Settings</div>
              <div class="nav-item">
                <a class="nav-link" href="#">Summary</a>
              </div>
              <div class="nav-item">
                <a class="nav-link" href="#">Statistics</a>
              </div>
              <div class="nav-item">
                <a class="nav-link" href="#">Manage</a>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-link">
          <i class="menu-icon mdi mdi-folder-outline"></i>
          <span class="menu-title">Sales</span>
        </a>
        <div class="submenu">
          <div class="submenu-inner ps-enabled">
            <h5 class="submenu-category-heading">Sales</h5>
            <div class="submenu-toolbar">
              <ul>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-arrow-down-bold-box"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-tag"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-printer"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-delete"></i></a></li>
              </ul>
            </div>
            <ul class="nav">
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-refresh"></i>Sale Board<div class="badge badge-pill ml-auto badge-danger">8</div></a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-format-page-break"></i>Sales reps</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-clock-outline"></i>Daily Dashboard</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-credit-card"></i>Summary Report</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-login-variant"></i>Total Sale & Rep</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-help-circle-outline"></i>Help</a>
              </div>
            </ul>
            <ul class="nav settings-nav">
              <div class="nav-item nav-category">Settings</div>
              <div class="nav-item">
                <a class="nav-link" href="#">Total Sale Reps</a>
              </div>
              <div class="nav-item">
                <a class="nav-link" href="#">Statistics</a>
              </div>
              <div class="nav-item">
                <a class="nav-link" href="#">Tools</a>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-link">
          <i class="menu-icon mdi mdi-border-all"></i>
          <span class="menu-title">Security</span>
        </a>
        <div class="submenu">
          <div class="submenu-inner ps-enabled">
            <h5 class="submenu-category-heading">Security</h5>
            <div class="submenu-toolbar">
              <ul>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-arrow-down-bold-box"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-tag"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-printer"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-delete"></i></a></li>
              </ul>
            </div>
            <ul class="nav">
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-refresh"></i>Password</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-format-page-break"></i>Secure Notes</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-clock-outline"></i>Activity<div class="badge badge-pill ml-auto badge-primary">21</div></a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-credit-card"></i>Backup</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-login-variant"></i>Recovery<div class="badge badge-pill ml-auto badge-success">23</div></a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-help-circle-outline"></i>Help</a>
              </div>
            </ul>
            <ul class="nav settings-nav">
              <div class="nav-item nav-category">Settings</div>
              <div class="nav-item">
                <a class="nav-link" href="#">Users Audit</a>
              </div>
              <div class="nav-item">
                <a class="nav-link" href="#">Data Audit</a>
              </div>
              <div class="nav-item">
                <a class="nav-link" href="#">Security Alert</a>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-link">
          <i class="menu-icon mdi mdi-clipboard-outline"></i>
          <span class="menu-title">Application</span>
        </a>
        <div class="submenu">
          <div class="submenu-inner ps-enabled">
            <h5 class="submenu-category-heading">Application</h5>
            <div class="submenu-toolbar">
              <ul>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-arrow-down-bold-box"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-tag"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-printer"></i></a></li>
                <li class="item"><a href="blank-page.html"><i class="mdi mdi-delete"></i></a></li>
              </ul>
            </div>
            <ul class="nav">
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-presentation"></i>Project</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-presentation"></i>Trello</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-message-text"></i>Chat<div class="badge badge-pill ml-auto badge-primary">21</div></a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-calendar"></i>Event Calendar</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-check-circle-outline"></i>Survey<div class="badge badge-pill ml-auto badge-success">23</div></a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-help-circle-outline"></i>Help</a>
              </div>
            </ul>
            <ul class="nav settings-nav">
              <div class="nav-item nav-category">Settings</div>
              <div class="nav-item">
                <a class="nav-link" href="#">Need Help?</a>
              </div>
              <div class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </div>
              <div class="nav-item">
                <a class="nav-link" href="#">Knowledge Base</a>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="nav-item mt-auto settings-item-link">
        <a href="#" class="nav-link">
          <i class="menu-icon mdi mdi-settings"></i>
          <span class="menu-title">Settings</span>
        </a>
        <div class="submenu bg-inverse-white">
          <div class="submenu-inner ps-enabled">
            <h5 class="submenu-category-heading">Settings</h5>
            <ul class="nav">
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-account-outline"></i>Employees</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-newspaper"></i>Appoinments</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-flask-empty-outline"></i>Services</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-map-marker-circle"></i>Location</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-codepen"></i>Customize</a>
              </div>
              <div class="nav-item">
                <a href="blank-page.html" class="nav-link"><i class="mdi mdi-help-circle-outline"></i>Help</a>
              </div>
            </ul>
            <ul class="nav settings-nav">
              <div class="nav-item nav-category">Support</div>
              <div class="nav-item">
                <a class="nav-link" href="#">Performance</a>
              </div>
              <div class="nav-item">
                <a class="nav-link" href="#">Overview</a>
              </div>
              <div class="nav-item">
                <a class="nav-link" href="#">Notifications</a>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>